include ../partials/header

body
  div.wrapper
    div.aside.aside-1
      img(src="#{img0.get('link')}")
      p.picDetails By: #[span.spanNoStyle #{img0.get('author')}]
      p.picDetails Description: #[span.spanNoStyle #{img0.get('description')}]
      p.picDetails Added: #[span.spanNoStyle #{img0.get('createdAt')}]
      p.picDetails Updated: #[span.spanNoStyle #{img0.get('updatedAt')}]
      if UserId === UserCurr
        include ../partials/footer

    div.aside.aside-2
      a(href="/gallery/#{img1.get('id')}")
        img.co(src="#{img1.get('link')}")
      a(href="/gallery/#{img2.get('id')}")
        img.co(src="#{img2.get('link')}")
      a(href="/gallery/#{img3.get('id')}")
        img.co(src="#{img3.get('link')}")